In [112]:
import glob 
import pandas as pd 
import numpy as np
import math
jan2020 = pd.read_csv("./caged/CAGEDMOV202001.txt",delimiter=';', encoding='utf-8')
dic = pd.read_csv("./caged/legenda.txt",delimiter=';', encoding='utf-8')

In [106]:
jan2020.sample(10)

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoempregador,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte
1302643,202001,4,42,421970,C,2013402,1,782510,101,7,...,0,1,20,0,0,0,1900.000000,3,0,1
751305,202001,4,43,431680,H,4921301,-1,413110,101,8,...,0,1,40,0,0,0,2043.089966,7,0,1
2160415,202001,4,41,410690,R,9329899,1,411005,103,7,...,0,1,10,0,0,0,674.750000,5,1,1
1833494,202001,2,26,261110,A,133410,1,622515,101,3,...,0,1,20,0,0,0,1041.000000,9,0,1
2809513,202001,4,42,420820,F,4120400,-1,782205,101,6,...,0,4,31,0,0,0,1960.000000,5,0,1
1743827,202001,2,26,260790,G,4772500,-1,521110,101,7,...,0,1,31,0,0,0,1087.000000,3,0,1
1482592,202001,3,35,353070,P,8599699,1,231210,101,9,...,0,1,20,0,0,1,3680.219971,6,0,1
704497,202001,3,35,354340,H,5240199,1,342535,101,8,...,0,1,20,0,0,0,800.400024,7,0,1
1696869,202001,3,35,355030,N,7820500,-1,391115,106,7,...,0,1,40,0,0,0,1358.140015,9,0,1
1191633,202001,3,35,352885,C,1931400,-1,953115,101,7,...,0,1,31,0,0,0,525379.812500,9,0,1

In [113]:
def arrumaDb(db,leg):
    listaNomesDb = []
    listaNomesLeg = []
    dic = {}
    listaCodFica= []
    for x in range(len(leg["codmunicípio"])):
        listaCodFica.append(leg["codmunicípio"][x])
    db = db.where((db["município"]).isin(listaCodFica)).dropna()
    db = db.drop(columns=['região','uf','subclasse','saldomovimentação','cbo2002ocupação','categoria','tipoestabelecimento','tipodedeficiência','indtrabintermitente','horascontratuais','tamestabjan','indicadoraprendiz','fonte','competência','indtrabparcial'])
    
    for name in leg.columns:
        listaNomesLeg.append(name)
    
    for name in db.columns:
        listaNomesDb.append(name)
    
    for k in range(0,len(leg.columns),2):
        dic = {}
        for i in range(len(leg)):
            if (leg.notna()[listaNomesLeg[k]][i]):
                dic[leg[listaNomesLeg[k]][i]]=leg[listaNomesLeg[k+1]][i]
        try:
            db[listaNomesLeg[k+1]]=db[listaNomesLeg[k+1]].map(dic)
        except:
            print(sys.exc_info()[0])
     
    return db
jan2020 = arrumaDb(jan2020, dic)

In [6]:
p = dic.query('codmun >=1')[['codmun','mun']].head(40)
p

    codmun                         mun
0   350850                 Sp-Cacapava
1   352020                  Sp-Igarata
2   352440                  Sp-Jacarei
3   352490                 Sp-Jambeiro
4   353170          Sp-Monteiro Lobato
5   353560                Sp-Paraibuna
6   354600             Sp-Santa Branca
7   354990      Sp-Sao Jose dos Campos
8   350970         Sp-Campos do Jordao
9   352630                 Sp-Lagoinha
10  353230      Sp-Natividade da Serra
11  353800          Sp-Pindamonhangaba
12  354230        Sp-Redencao da Serra
13  354820  Sp-Santo Antonio do Pinhal
14  354860     Sp-Sao Bento do Sapucai
15  355000   Sp-Sao Luis do Paraitinga
16  355410                  Sp-Taubate
17  355480                 Sp-Tremembe
18  350250                Sp-Aparecida
19  350860       Sp-Cachoeira Paulista
20  350995                    Sp-Canas
21  351360                    Sp-Cunha
22  351840            Sp-Guaratingueta
23  352720                   Sp-Lorena
24  353850                  Sp-Piquete
25  354075                    Sp-Potim
26  354430                  Sp-Roseira
27  350315                   Sp-Arapei
28  350350                   Sp-Areias
29  350490                  Sp-Bananal
30  351340                 Sp-Cruzeiro
31  352660                Sp-Lavrinhas
32  354190                   Sp-Queluz
33  354960     Sp-Sao Jose do Barreiro
34  355200                Sp-Silveiras
35  351050            Sp-Caraguatatuba
36  352040                 Sp-Ilhabela
37  355070            Sp-Sao Sebastiao
38  355540                  Sp-Ubatuba

In [116]:
jan2020

,município,seção,graudeinstrução,idade,raçacor,sexo,tipoempregador,tipomovimentação,salário
28,Sp-Sao Jose dos Campos,"Comércio, Reparação de Veículos Automotores e ...",Médio Completo,63.0,Parda,Mulher,CNPJ RAIZ,Desligamento,1720.619995
161,Sp-Jacarei,Atividades Administrativas e Serviços Compleme...,Médio Completo,31.0,Preta,Homem,CNPJ RAIZ,Admissão,2341.800049
230,Sp-Taubate,"Comércio, Reparação de Veículos Automotores e ...",Médio Completo,27.0,Parda,Mulher,CNPJ RAIZ,Desligamento,1423.000000
271,Sp-Taubate,"Agricultura, Pecuária, Produção Florestal, Pes...",6ª a 9ª Fundamental,36.0,Branca,Homem,CNPJ RAIZ,Desligamento,1201.900024
330,Sp-Cacapava,Alojamento e Alimentação,Médio Completo,38.0,Branca,Mulher,CNPJ RAIZ,Desligamento,1436.599976
...,...,...,...,...,...,...,...,...,...
2896686,Sp-Sao Sebastiao,Alojamento e Alimentação,Médio Completo,26.0,Preta,Homem,CNPJ RAIZ,Desligamento,1370.000000
2896706,Sp-Taubate,Construção,Médio Completo,20.0,Branca,Homem,CNPJ RAIZ,Desligamento,1513.920044
2896708,Sp-Jacarei,Atividades Administrativas e Serviços Compleme...,Médio Completo,27.0,Não informada,Mulher,CNPJ RAIZ,Desligamento,1108.380005
2896880,Sp-Jacarei,Atividades Administrativas e Serviços Compleme...,Médio Completo,18.0,Branca,Homem,CNPJ RAIZ,Admissão,1702.800049
2896980,Sp-Taubate,"Administração Pública, Defesa e Seguridade Social",Médio Completo,21.0,Branca,Homem,CNPJ RAIZ,Desligamento,1517.180054

In [117]:
admi = jan2020.query('tipomovimentação=="Admissão"')['tipomovimentação'].count()
desl = jan2020.query('tipomovimentação=="Desligamento"')['tipomovimentação'].count()
NI = jan2020.query('tipomovimentação=="Não Identificado"')['tipomovimentação'].count()

In [118]:
admi

18545

In [119]:
desl

18033

In [120]:
NI

75