In [195]:
import glob 
import pandas as pd 
#jan2020 = pd.read_csv("./caged/CAGEDMOV202001.txt",delimiter=';', encoding='utf-8')
dic = pd.read_csv("./caged/legenda.txt",delimiter=';', encoding='utf-8')

In [95]:
jan2020.sample(10)

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte,Unnamed: 24
937718,202001,3,35,355030,A,111301,-1,622020,101,7,...,3,31,0,0,0,1260.000000,99,0,1,NaN
812578,202001,4,41,410690,F,4110700,1,715210,999,3,...,1,20,0,0,0,2025.540039,2,0,1,NaN
1300846,202001,3,35,351620,G,4789008,1,521110,101,7,...,1,20,0,0,0,1405.520020,2,0,1,NaN
2244830,202001,3,35,352730,C,2869100,1,725205,101,7,...,1,20,0,0,0,3918.199951,4,0,1,NaN
1250963,202001,3,35,351960,G,4771701,-1,421125,101,7,...,1,40,0,0,0,1457.479980,4,0,1,NaN
363191,202001,3,33,330200,K,6622300,-1,521115,101,7,...,1,31,0,0,0,700.000000,2,0,1,NaN
1984234,202001,3,33,330455,N,8211300,-1,411010,101,8,...,1,32,0,0,9,1469.729980,7,0,1,NaN
872012,202001,3,35,355220,G,4647801,-1,521110,101,9,...,1,31,0,0,0,1638.000000,4,0,1,NaN
1305181,202001,3,32,320150,C,1412601,-1,763215,101,4,...,1,40,0,0,0,1160.810059,5,0,1,NaN
410153,202001,2,29,291480,Q,8610101,-1,223505,999,9,...,1,31,0,0,0,2618.189941,8,0,1,NaN

In [89]:
jan2020_edi = jan2020.drop(columns=['região','uf','subclasse','saldomovimentação','cbo2002ocupação','categoria','tipoestabelecimento','tipodedeficiência','indtrabintermitente','horascontratuais','tamestabjan','indicadoraprendiz','fonte','competência','Unnamed: 24','indtrabparcial'])

In [91]:
jan2020_edi.sample(10)

,município,seção,graudeinstrução,idade,raçacor,sexo,tipoempregador,tipomovimentação,salário
2874355,520800,G,4,25.0,3,1,0,20,1254.000000
853946,351700,A,7,39.0,3,1,2,31,0.000000
938720,431900,G,7,27.0,1,1,0,20,1100.000000
270951,430910,S,6,50.0,6,3,0,40,1170.000000
2055734,431260,C,6,28.0,2,1,0,20,557.700012
501432,355030,G,7,28.0,6,3,0,20,1442.000000
1751106,354770,C,9,41.0,1,3,0,20,1989.349976
574912,410830,Q,10,40.0,1,1,0,20,1437.000000
1061685,420290,N,5,39.0,1,1,0,40,1110.000000
14509,355030,N,7,22.0,1,1,0,10,1500.900024

In [196]:
dic.sample(5)

,codmun,mun,codseção,seção,codgrauDeInstituição,grauDeInstituição,codsexo,sexo,codtipodeempregador,tipodeempregador,codtipodemovimentação,tipodemovimentação,codraçacor,raçacor
15,355000,Sp-Sao Luis do Paraitinga,P,Educação,NaN,NaN,NaN,NaN,NaN,NaN,98.0,Desligamento de Tipo Ignorado,NaN,NaN
26,354430,Sp-Roseira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,353850,Sp-Piquete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,350970,Sp-Campos do Jordao,I,Alojamento e Alimentação,9.0,Superior Completo,NaN,NaN,NaN,NaN,43.0,Término contrato trabalho prazo determinado,NaN,NaN
2,352440,Sp-Jacarei,C,Indústrias de Transformação,3.0,5ª Completo Fundamental,9.0,Não Identificado,9.0,Não Identificado,25.0,Admissão por contrato trabalho prazo determinado,3.0,Parda

In [221]:
dic.query('codmun >=1')[['codmun','mun']].head(50)

    codmun                         mun
0   350850                 Sp-Cacapava
1   352020                  Sp-Igarata
2   352440                  Sp-Jacarei
3   352490                 Sp-Jambeiro
4   353170          Sp-Monteiro Lobato
5   353560                Sp-Paraibuna
6   354600             Sp-Santa Branca
7   354990      Sp-Sao Jose dos Campos
8   350970         Sp-Campos do Jordao
9   352630                 Sp-Lagoinha
10  353230      Sp-Natividade da Serra
11  353800          Sp-Pindamonhangaba
12  354230        Sp-Redencao da Serra
13  354820  Sp-Santo Antonio do Pinhal
14  354860     Sp-Sao Bento do Sapucai
15  355000   Sp-Sao Luis do Paraitinga
16  355410                  Sp-Taubate
17  355480                 Sp-Tremembe
18  350250                Sp-Aparecida
19  350860       Sp-Cachoeira Paulista
20  350995                    Sp-Canas
21  351360                    Sp-Cunha
22  351840            Sp-Guaratingueta
23  352720                   Sp-Lorena
24  353850                  Sp-Piquete
25  354075                    Sp-Potim
26  354430                  Sp-Roseira
27  350315                   Sp-Arapei
28  350350                   Sp-Areias
29  350490                  Sp-Bananal
30  351340                 Sp-Cruzeiro
31  352660                Sp-Lavrinhas
32  354190                   Sp-Queluz
33  354960     Sp-Sao Jose do Barreiro
34  355200                Sp-Silveiras
35  351050            Sp-Caraguatatuba
36  352040                 Sp-Ilhabela
37  355070            Sp-Sao Sebastiao
38  355540                  Sp-Ubatuba