In [223]:
import glob 
import pandas as pd 
jan2020 = pd.read_csv("./caged/CAGEDMOV202001.txt",delimiter=';', encoding='utf-8')
dic = pd.read_csv("./caged/legenda.txt",delimiter=';', encoding='utf-8')

In [224]:
jan2020.sample(10)

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte,Unnamed: 24
190490,202001,3,35,355030,K,6541300,-1,211105,101,9,...,1,40,0,0,0,10500.000000,8,0,1,NaN
2762190,202001,3,35,355030,G,4763602,1,422305,101,7,...,1,20,0,0,0,1267.270020,9,0,1,NaN
2383294,202001,3,31,310620,F,4120400,1,716610,101,7,...,1,20,0,0,0,1988.800049,10,0,1,NaN
2750254,202001,3,32,320460,G,4781400,-1,521110,999,5,...,1,40,0,0,0,1143.930054,3,0,1,NaN
2152985,202001,3,35,355030,A,134200,1,622020,105,5,...,3,20,0,0,0,0.000000,99,0,1,NaN
2334442,202001,1,13,130260,G,4712100,1,521125,101,7,...,1,20,0,0,0,1133.000000,1,0,1,NaN
1579365,202001,4,41,410690,G,4742300,1,951105,101,7,...,1,20,0,0,0,1544.000000,4,0,1,NaN
667581,202001,3,35,355030,G,4763602,1,760310,101,7,...,1,20,0,0,9,6600.000000,8,0,1,NaN
2652941,202001,3,35,351620,M,6920601,-1,252405,101,7,...,1,31,0,0,0,1726.859985,4,0,1,NaN
1210109,202001,5,50,500070,C,1011201,-1,514320,101,3,...,1,40,0,0,0,1312.500000,9,0,1,NaN

In [225]:
jan2020_edi = jan2020.drop(columns=['região','uf','subclasse','saldomovimentação','cbo2002ocupação','categoria','tipoestabelecimento','tipodedeficiência','indtrabintermitente','horascontratuais','tamestabjan','indicadoraprendiz','fonte','competência','Unnamed: 24','indtrabparcial'])

In [226]:
jan2020_edi.sample(10)

,município,seção,graudeinstrução,idade,raçacor,sexo,tipoempregador,tipomovimentação,salário
1137031,350320,F,7,18.0,1,1,0,20,1511.229980
618021,314810,G,6,16.0,1,1,0,10,1056.000000
911336,330455,F,4,54.0,1,1,0,31,1239.000000
1753971,320520,G,5,45.0,2,1,0,20,1143.930054
2011425,231180,F,4,22.0,1,1,0,31,1014.450012
2410712,311430,A,7,20.0,3,1,9,20,2078.000000
895264,355030,Q,7,39.0,3,3,2,20,1252.430054
2188904,315220,F,7,23.0,2,1,0,20,2059.199951
2403473,315210,G,5,53.0,2,1,0,31,1098.800049
2676631,150503,G,9,32.0,3,3,0,20,3000.000000

In [196]:
dic.sample(5)

,codmun,mun,codseção,seção,codgrauDeInstituição,grauDeInstituição,codsexo,sexo,codtipodeempregador,tipodeempregador,codtipodemovimentação,tipodemovimentação,codraçacor,raçacor
15,355000,Sp-Sao Luis do Paraitinga,P,Educação,NaN,NaN,NaN,NaN,NaN,NaN,98.0,Desligamento de Tipo Ignorado,NaN,NaN
26,354430,Sp-Roseira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,353850,Sp-Piquete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,350970,Sp-Campos do Jordao,I,Alojamento e Alimentação,9.0,Superior Completo,NaN,NaN,NaN,NaN,43.0,Término contrato trabalho prazo determinado,NaN,NaN
2,352440,Sp-Jacarei,C,Indústrias de Transformação,3.0,5ª Completo Fundamental,9.0,Não Identificado,9.0,Não Identificado,25.0,Admissão por contrato trabalho prazo determinado,3.0,Parda

In [268]:
p = dic.query('codmun >=1')[['codmun','mun']].head(40)
p

    codmun                         mun
0   350850                 Sp-Cacapava
1   352020                  Sp-Igarata
2   352440                  Sp-Jacarei
3   352490                 Sp-Jambeiro
4   353170          Sp-Monteiro Lobato
5   353560                Sp-Paraibuna
6   354600             Sp-Santa Branca
7   354990      Sp-Sao Jose dos Campos
8   350970         Sp-Campos do Jordao
9   352630                 Sp-Lagoinha
10  353230      Sp-Natividade da Serra
11  353800          Sp-Pindamonhangaba
12  354230        Sp-Redencao da Serra
13  354820  Sp-Santo Antonio do Pinhal
14  354860     Sp-Sao Bento do Sapucai
15  355000   Sp-Sao Luis do Paraitinga
16  355410                  Sp-Taubate
17  355480                 Sp-Tremembe
18  350250                Sp-Aparecida
19  350860       Sp-Cachoeira Paulista
20  350995                    Sp-Canas
21  351360                    Sp-Cunha
22  351840            Sp-Guaratingueta
23  352720                   Sp-Lorena
24  353850                  Sp-Piquete
25  354075                    Sp-Potim
26  354430                  Sp-Roseira
27  350315                   Sp-Arapei
28  350350                   Sp-Areias
29  350490                  Sp-Bananal
30  351340                 Sp-Cruzeiro
31  352660                Sp-Lavrinhas
32  354190                   Sp-Queluz
33  354960     Sp-Sao Jose do Barreiro
34  355200                Sp-Silveiras
35  351050            Sp-Caraguatatuba
36  352040                 Sp-Ilhabela
37  355070            Sp-Sao Sebastiao
38  355540                  Sp-Ubatuba

In [287]:
jan2020_edi.query('município>=350850')

,município,seção,graudeinstrução,idade,raçacor,sexo,tipoempregador,tipomovimentação,salário
1,420460,G,7,18.0,1,3,0,20,1298.000000
2,420460,Q,8,34.0,1,3,0,31,1408.250000
7,355030,N,7,59.0,1,1,0,20,1236.349976
8,510340,I,7,19.0,1,3,0,40,1015.000000
9,421190,N,4,44.0,1,3,0,20,605.450012
...,...,...,...,...,...,...,...,...,...
2897202,420415,H,7,41.0,1,1,0,31,1518.000000
2897207,355030,C,7,17.0,3,3,0,20,1045.000000
2897210,355030,H,7,27.0,3,1,0,20,1325.790039
2897211,355030,N,7,22.0,3,1,0,43,1097.800049
2897216,420290,C,5,56.0,1,3,0,20,1600.000000

In [ ]:
x = jan2020_edi['tipomovimentação'].head(40).count()