In [57]:
import glob 
import pandas as pd 
pd.read_excel("./Tabela 1.2.xls",
                   sheet_name = "2019",
                   skiprows = range(0, 10) # ignora as primeiras 10 linhas do excel
                   )
rais = pd.ExcelFile('./Base de dados/rais.xlsx')

In [48]:
dfs = {sheet_name: caged.parse(sheet_name) 
          for sheet_name in caged.sheet_names}

In [58]:
caged.describe()

,"Tabela 1.2 - Indicadores estruturais do mercado de trabalho das pessoas de 14 anos ou mais de idade, com indicação do coeficiente de variação, segundo nível de instrução, sexo e cor ou raça - 2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
count,33,27.0000,26.000000,27.00000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,...,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000
unique,13,27.0000,26.000000,27.00000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,...,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000,27.000000,26.000000
top,Sem instrução ou fundamental incompleto,14769.4296,0.747752,58994.36011,0.882707,53306.019328,0.319441,4496.342296,1.139265,823.041077,...,82.897935,0.284856,78.939806,0.621543,65.488844,1.620073,9.376286,4.147954,25.546571,0.965767
freq,5,1.0000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000