In [153]:
import glob 
import pandas as pd 
#jan2020 = pd.read_csv("./caged/CAGEDMOV202001.txt",delimiter=';', encoding='utf-8')
dic = pd.read_csv("./caged/legendaMun2.txt",delimiter=';', encoding='utf-8')
rais = pd.ExcelFile('./Base de dados/rais.xlsx')

In [95]:
jan2020.sample(10)

,competência,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,tipoestabelecimento,tipomovimentação,tipodedeficiência,indtrabintermitente,indtrabparcial,salário,tamestabjan,indicadoraprendiz,fonte,Unnamed: 24
937718,202001,3,35,355030,A,111301,-1,622020,101,7,...,3,31,0,0,0,1260.000000,99,0,1,NaN
812578,202001,4,41,410690,F,4110700,1,715210,999,3,...,1,20,0,0,0,2025.540039,2,0,1,NaN
1300846,202001,3,35,351620,G,4789008,1,521110,101,7,...,1,20,0,0,0,1405.520020,2,0,1,NaN
2244830,202001,3,35,352730,C,2869100,1,725205,101,7,...,1,20,0,0,0,3918.199951,4,0,1,NaN
1250963,202001,3,35,351960,G,4771701,-1,421125,101,7,...,1,40,0,0,0,1457.479980,4,0,1,NaN
363191,202001,3,33,330200,K,6622300,-1,521115,101,7,...,1,31,0,0,0,700.000000,2,0,1,NaN
1984234,202001,3,33,330455,N,8211300,-1,411010,101,8,...,1,32,0,0,9,1469.729980,7,0,1,NaN
872012,202001,3,35,355220,G,4647801,-1,521110,101,9,...,1,31,0,0,0,1638.000000,4,0,1,NaN
1305181,202001,3,32,320150,C,1412601,-1,763215,101,4,...,1,40,0,0,0,1160.810059,5,0,1,NaN
410153,202001,2,29,291480,Q,8610101,-1,223505,999,9,...,1,31,0,0,0,2618.189941,8,0,1,NaN

In [89]:
jan2020_edi = jan2020.drop(columns=['região','uf','subclasse','saldomovimentação','cbo2002ocupação','categoria','tipoestabelecimento','tipodedeficiência','indtrabintermitente','horascontratuais','tamestabjan','indicadoraprendiz','fonte','competência','Unnamed: 24','indtrabparcial'])

In [91]:
jan2020_edi.sample(10)

,município,seção,graudeinstrução,idade,raçacor,sexo,tipoempregador,tipomovimentação,salário
2874355,520800,G,4,25.0,3,1,0,20,1254.000000
853946,351700,A,7,39.0,3,1,2,31,0.000000
938720,431900,G,7,27.0,1,1,0,20,1100.000000
270951,430910,S,6,50.0,6,3,0,40,1170.000000
2055734,431260,C,6,28.0,2,1,0,20,557.700012
501432,355030,G,7,28.0,6,3,0,20,1442.000000
1751106,354770,C,9,41.0,1,3,0,20,1989.349976
574912,410830,Q,10,40.0,1,1,0,20,1437.000000
1061685,420290,N,5,39.0,1,1,0,40,1110.000000
14509,355030,N,7,22.0,1,1,0,10,1500.900024

In [154]:
dic.sample(5)

    codmun                    mun
23  352720              Sp-Lorena
19  350860  Sp-Cachoeira Paulista
38  355540             Sp-Ubatuba
26  354430             Sp-Roseira
17  355480            Sp-Tremembe

In [155]:
dic.query('codmun')[['codmun','mun']].head().round()

KeyError: "None of [Int64Index([350850, 352020, 352440, 352490, 353170, 353560, 354600, 354990,\n            350970, 352630, 353230, 353800, 354230, 354820, 354860, 355000,\n            355410, 355480, 350250, 350860, 350995, 351360, 351840, 352720,\n            353850, 354075, 354430, 350315, 350350, 350490, 351340, 352660,\n            354190, 354960, 355200, 351050, 352040, 355070, 355540],\n           dtype='int64')] are in the [index]"